In [1]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
import time
import requests 
import pandas as pd

In [2]:
# scrape red wine data from totalwine.com 
def scrape_info():
    browser = Browser('chrome', executable_path='/usr/local/bin/chromedriver', headless=False)

    # Visit totalwine.com
    url = "https://www.totalwine.com/wine/red-wine/c/000009"
    browser.visit(url)

    time.sleep(1)

    # Scrape page into Soup
    html = browser.html
    soup = bs(html, "html.parser")

    # Get inner items wrapper
    inner_items = soup.find_all('a', class_='analyticsDepartment')
    redWine_list = []
    for item in inner_items: 
        items = item.text
        redWine_list.append(items)


    # Close the browser after scraping
    browser.quit()

    # Return results
    return redWine_list

In [3]:
# scrape white wine data from totalwine.com 
def scrape_info_white():
    browser = Browser('chrome', executable_path='/usr/local/bin/chromedriver', headless=False)

    # Visit totalwine.com
    url = "https://www.totalwine.com/wine/white-wine/c/000002"
    browser.visit(url)

    time.sleep(1)

    # Scrape page into Soup
    html = browser.html
    soup = bs(html, "html.parser")

    # Get inner items wrapper
    inner_items = soup.find_all('a', class_='analyticsDepartment')
    whiteWine_list = []
    for item in inner_items: 
        items = item.text
        whiteWine_list.append(items)


    # Close the browser after scraping
    browser.quit()

    # Return results
    return whiteWine_list

In [4]:
red_wine_list = scrape_info()
white_wine_list = scrape_info_white()

In [5]:
#wine list length by type 
print(len(red_wine_list))
print(len(white_wine_list))

132
126

In [6]:
#read in Wine_varieties csv
df = pd.read_csv('Wine_varieties.csv')
df.head()

       variety  description  description_split
0     Abouriou            3                  3
1  Agiorgitiko           63                 63
2    Aglianico          359                359
3        Airen            3                  3
4       Albana           23                 23

In [7]:
#define function to detect red wine 
def detect_red_wine(name,wine_list):
    if name.lower() in wine_list:
        return 0

In [8]:
#define function to detect white wine 
def detect_white_wine(name,wine_list):
    if name.lower() in wine_list:
        return 1

In [9]:
df = df['is_red'] = df['variety'].apply(lambda text:detect_red_wine(text,red_wine_list))
df = df['is_white'] = df['variety'].apply(lambda text:detect_white_wine(text,white_wine_list))

In [11]:
#matched 52 red wines in the dataset
df[df.is_red==0].shape

(52, 5)

In [12]:
# matched 42 white wines in the dataset 
df[df.is_white==1].shape

(42, 5)

In [14]:
df

                    variety  description  description_split  is_red  is_white
0                  Abouriou            3                  3     NaN       NaN
1               Agiorgitiko           63                 63     0.0       NaN
2                 Aglianico          359                359     0.0       NaN
3                     Airen            3                  3     NaN       NaN
4                    Albana           23                 23     NaN       NaN
..                      ...          ...                ...     ...       ...
562  Zierfandler-Rotgipfler            5                  5     NaN       NaN
563               Zinfandel         2714               2714     0.0       NaN
564                Zlahtina            2                  2     NaN       NaN
565                Zweigelt          209                209     NaN       NaN
566               Çalkarası            2                  2     NaN       NaN

[567 rows x 5 columns]

In [20]:
df_result = df[(df.is_red == 0) | (df.is_white == 1)]

In [21]:
df_result

         variety  description  description_split  is_red  is_white
1    Agiorgitiko           63                 63     0.0       NaN
2      Aglianico          359                359     0.0       NaN
15     Alvarinho          137                137     NaN       1.0
24        Arneis           86                 86     NaN       1.0
27     Assyrtiko           18                 18     NaN       1.0
..           ...          ...                ...     ...       ...
537       Vilana            4                  4     NaN       1.0
539     Viognier          996                996     NaN       1.0
547        Viura          107                107     NaN       1.0
553  White Blend         2360               2360     NaN       1.0
563    Zinfandel         2714               2714     0.0       NaN

[91 rows x 5 columns]